<head>
 
    {# Cargamos la librería Bootstrap #} 
    {% load bootstrap4 %} 
  
    {# CSS Bootstrap #} 
    {% bootstrap_css %} 

    {# Widget Tweaks #}
    {% load widget_tweaks %}

    {# Archivos #}
    {% load static %} <!-- STATIC_URL -->
  
</head>
<body>
    <h4>Detalles</h4>

        <p><span class="txt_negrita">Nombre:</span> <br> {{object.nombre}}</p>
        <p><span class="txt_negrita">Apellido:</span> <br> {{object.apellido}}</p>
        <p><span class="txt_negrita">Fecha de Nacimiento:</span> <br> {{object.fecha_nacimiento}}</p>
        <p><span class="txt_negrita">Hospital:</span> <br> {{object.hospital}}</p>
        <p><span class="txt_negrita">Número de Seguro Social:</span> <br> {{object.numero_seguro_social}}</p>
        <p><span class="txt_negrita">Diagnostico:</span> <br> {{object.diagnostico}}</p>

        <!-- Botón para volver a la vista principal (Home) -->
        <a href="{% url 'leer_pacientes' %}" class="btn btn-primary">Volver</a>
</body>
