<head>
    {% load bootstrap4 %} 

    {# CSS Bootstrap #} 
    {% bootstrap_css %} 
    
    {# Widget Tweaks #}
    {% load widget_tweaks %}

    {# Archivos #}
    {% load static %} <!-- STATIC_URL -->
</head>
<body>
    <h1>Lista de Médicos</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th width="35%">Nombre</th>
                <th>Apellido</th>
                <th>Especialidad</th>
                <th>Hospital</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'medicos' y los listamos -->
            {% for medico in medicos %}
                <tr>
                    <td>{{ medico.nombre }}</td>
                    <td>{{ medico.apellido }}</td>
                    <td>{{ medico.especialidad }}</td>
                    <td>{{ medico.hospital }}</td>
                    <td>
                        <!-- Usaremos un formulario que realizará la tarea de eliminar un registro o médico desde la misma tabla HTML -->                        
                        <form method="POST" action="{% url 'medico_delete' pk=medico.pk %}">
                            {% csrf_token %}
                            <div class="btn-group">
                                <!-- Creamos 3 botones que son ver, Editar y Eliminar, nos sirven para gestionar nuestros registros o médicos -->
                                <a href="{% url 'medico_detail' pk=medico.pk %}" title="Ver" type="button" class="btn btn-success">Ver </a>
                                <a href="{% url 'medico_edit' pk=medico.pk %}" title="Editar" type="button" class="btn btn-primary">Editar </a>
                                <button class="btn btn-danger" onclick="return eliminar();" type="submit">Eliminar</button>
                            </div>
                        </form>  
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    

    {# JS y jQuery Bootstrap #}
    {% bootstrap_javascript jquery='full' %} 
</body>
