<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Medico</title>
    <style>
        h1 {
            color: gold;
            font-size: 35px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
        body{
            background-color: #949292;
            background-image: url(../../assets/doctores.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            font-family: Arial, sans-serif;
        }
    </style>
    {% load bootstrap4 %} 

    {# CSS Bootstrap #} 
    {% bootstrap_css %} 
    
    {# Widget Tweaks #}
    {% load widget_tweaks %}

    {# Archivos #}
    {% load static %} <!-- STATIC_URL -->
</head>
<body>
    <h1>Lista de Médicos</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th width="35%">Nombre</th>
                <th>Apellido</th>
                <th>Especialidad</th>
                <th>Hospital</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'medicos' y los listamos -->
            {% for medico in medicos %}
                <tr>
                    <td>{{ medico.nombre }}</td>
                    <td>{{ medico.apellido }}</td>
                    <td>{{ medico.especialidad }}</td>
                    <td>{{ medico.hospital }}</td>
                    <td>
                        <!-- Usaremos un formulario que realizará la tarea de eliminar un registro o médico desde la misma tabla HTML -->                        
                        <form method="POST" action="{% url 'medico_delete' pk=medico.pk %}">
                            {% csrf_token %}
                            <div class="btn-group">
                                <!-- Creamos 3 botones que son ver, Editar y Eliminar, nos sirven para gestionar nuestros registros o médicos -->
                                <a href="{% url 'medico_detail' pk=medico.pk %}" title="Ver" type="button" class="btn btn-success">Ver </a>
                                <a href="{% url 'medico_edit' pk=medico.pk %}" title="Editar" type="button" class="btn btn-primary">Editar </a>
                                <button class="btn btn-danger" onclick="return eliminar();" type="submit">Eliminar</button>
                            </div>
                        </form>  
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <form method="post" enctype="multipart/form-data">

        <!-- Pasamos el 'csrf_token' de seguridad para poder crear un nuevo registro -->
        {% csrf_token %}
        
        <!-- {{ form.as_p }} -->
        <div class="form-group">
            <label for="nombre" class="txt_negrita">Nombre</label>
            {{ form.nombre|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
        </div>
        <div class="form-group">
            <label for="precio" class="txt_negrita">Precio</label>
            {{ form.precio|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto --> 
        </div>
        <div class="form-group">
            <label for="stock" class="txt_negrita">Stock</label>
            {{ form.stock|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
        </div>
        <div class="form-group">
            <label for="img" class="txt_negrita">Imagen</label>
            {{ form.img|add_class:"form-control mb-3" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
        </div>
        
        <button type="submit" class="btn btn-primary">Aceptar</button>
        <a href="./" type="submit" class="btn btn-primary">Cancelar</a>
        
    </form>
    
    
    {# JS y jQuery Bootstrap #}
    {% bootstrap_javascript jquery='full' %} 
</body>
</html>